@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Font Face */
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('../../fonts/Chunkfive-webfont.eot');
  src: url('../../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/Chunkfive-webfont.woff') format('woff'), url('../../fonts/Chunkfive-webfont.ttf') format('truetype'), url('../../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
  font-weight: 100;
  font-style: normal;
  line-spacing: 1px;
}
/* Basic Styles */
html {
  background: #292929;
}
body {
  background: #218cb8 url(../../img/bg_texture.gif);
}
h1 {
  font-family: 'ChunkFiveRegular', sans-serif;
  font-size: 2.1em;
  width: 960px;
}
h2 {
  font-family: 'ChunkFiveRegular', sans-serif;
  font-size: 1.3em;
}
h3 {
  font-family: 'ChunkFiveRegular', sans-serif;
  font-size: 1.1em;
  color: white;
}
h4 {
  font-family: 'ChunkFiveRegular', sans-serif;
  font-size: 1.1em;
}
p {
  line-height: 23px;
  font-family: "Ludica Grande", sans-serif;
  color: #333;
}
strong {
  font-weight: bold;
}
#container {
  margin: auto;
  width: 960px;
  margin-top: 100px;
  overflow: hidden;
}
.link {
  display: block;
  height: 100%;
  width: 100%;
}
.box_shadow {
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}
.span_white {
  color: white;
}
/* Nav */
nav {
  background: url(../../img/nav_bg.jpg) repeat-x;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  overflow: hidden;
  z-index: 1;
}
nav a {
  font-size: 1.4em;
  color: white;
  margin-top: 40px;
  margin-left: 20px;
  display: block;
  float: right;
  text-decoration: none;
  font-family: 'ChunkFiveRegular', sans-serif;
}
nav a:hover {
  color: #218cb8;
}
#center_nav {
  width: 960px;
  margin: auto;
}
#logo {
  background: url(../../img/logo.png) no-repeat;
  height: 61px;
  margin-top: 20px;
  margin-left: 15px;
  float: left;
  width: 500px;
}
#tour {
  background: url(../../img/tour.png) top;
  margin-top: 10px;
  float: left;
  height: 76px;
  width: 74px;
  margin-left: 75px;
}
#tour:hover {
  background: url(../../img/tour.png) no-repeat bottom;
}
#register {
  background: url(../../img/register.png) no-repeat top;
  float: left;
  height: 78px;
  width: 119px;
  margin-top: 10px;
  margin-left: 30px;
}
#register:hover {
  background: url(../../img/register.png) no-repeat bottom;
}
#login {
  background: url(../../img/login.png) no-repeat top;
  float: left;
  height: 78px;
  width: 85px;
  margin-top: 10px;
  margin-left: 30px;
}
#login:hover {
  background: url(../../img/login.png) no-repeat bottom;
}
/* Content */
#drop_register_form {
  display: none;
  position: fixed;
  top: 100;
  margin-left: 615px;
  background: white;
  padding: 10px;
}
#drop_login_form {
  display: none;
  position: fixed;
  top: 100;
  margin-left: 750px;
  background: white;
  padding: 10px;
}
.arrow {
  background: url(../../img/arrow.png) no-repeat;
  height: 10px;
  width: 15px;
  margin-top: -18px;
  margin-left: 120px;
}
.tour_bar {
  background: url(../../img/tour_bar_bg.jpg) repeat-x;
  height: 53px;
  width: 960px;
  overflow: hidden;
  display: none;
}
#default_tour_bar {
  display: block;
}
.tour_bar a {
  font-family: "ChunkFiveRegular";
  text-align: center;
  font-size: 2em;
  letter-spacing: 2px;
  color: #555;
  margin-top: 15px;
  text-decoration: none;
  text-shadow: #333333 -1px -1px, rgba(0, 0, 0, 0.3) 0 -1px, #ffffff 0 1px;
}
.tour_bar a:hover {
  color: #218cb8;
}
.slide {
  background: url(../../img/cork_bg.jpg) no-repeat;
  height: 667px;
  width: 960px;
  overflow: hidden;
}
#welcome {
  background: url(../../img/cork_bg.jpg) no-repeat;
  overflow: hidden;
}
.image {
  background: #000;
  float: left;
  height: 175px;
  width: 285px;
  margin-top: 10px;
  margin-left: 25px;
}
.image_long {
  background: #000;
  float: left;
  height: 175px;
  width: 365px;
  margin-top: 10px;
  margin-left: 25px;
}
.sticky {
  background: #FF9;
  float: left;
  height: 250px;
  width: 265px;
  margin-top: 20px;
  margin-left: 25px;
  padding: 10px;
}
.sticky_long {
  background: #FF9;
  float: left;
  height: 250px;
  width: 345px;
  margin-top: 20px;
  margin-left: 25px;
  padding: 10px;
}
#top_slide {
  height: 344px;
  width: 946px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  background: url(../../img/top_slide.png) no-repeat;
}
#timer_slide {
  display: none;
}
#timer_header {
  background: url(../../img/timer_header.png) no-repeat;
  height: 157px;
  width: 444px;
  margin-top: 10px;
  margin-left: 10px;
}
#community_slide {
  display: none;
}
#community_header {
  background: url(../../img/community_header.png) no-repeat;
  height: 141px;
  width: 643px;
  margin-top: 10px;
  margin-left: 10px;
}
#content_slide {
  display: none;
}
#content_header {
  background: url(../../img/content_header.png) no-repeat;
  height: 148px;
  width: 539px;
  margin-top: 10px;
  margin-left: 10px;
}
#register_slide {
  display: none;
}
#register_header {
  background: url(../../img/register_header.png) no-repeat;
  height: 142px;
  width: 396px;
  margin-top: 10px;
  margin-left: 10px;
}
#register_left {
  float: left;
  width: 425px;
}
#register_right {
  float: left;
  width: 500px;
  margin-left: 25px;
}
#pink_sticky {
  height: 289px;
  width: 297px;
  float: left;
  background: url(../../img/pink-sticky.png) no-repeat;
  margin-top: 50px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
#pink_sticky:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}
#register_form {
  width: 250px;
  background: white;
  float: right;
  padding: 0px 10px;
  margin-right: 30px;
  font-weight: bold;
}
form p {
  margin: 5px 0px;
  color: #218cb8;
  font-size: 1.2em;
  font-weight: bold;
}
form input {
  width: 245px;
  height: 20px;
  -webkit-box-shadow: inset -5px 5px 10px 0px #cccccc 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -5px 5px 10px 0px #cccccc 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset -5px 5px 10px 0px #cccccc 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.submit {
  height: 30px;
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 15px;
  -webkit-box-shadow: #000000 0 1px 0;
  -moz-box-shadow: #000000 0 1px 0;
  box-shadow: #000000 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  border: 1px solid black;
  font-size: 18px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
.submit:hover {
  border-top-color: #ffffff;
  background: #ffffff;
  color: #000000;
  border: 1px solid black;
}
#main {
  width: 960px;
  background: #DDD;
  border: 1px solid #FFF;
  -webkit-border-top-right-radius: 5;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5;
  -moz-border-radius-topright: 5;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5;
  border-top-right-radius: 5;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 20px;
  overflow: hidden;
}
#content {
  width: 667px;
  height: 100%;
  padding: 10px;
  float: left;
}
#sidebar {
  width: 250px;
  height: 100%;
  border-left: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  background: white;
  padding: 10px;
  float: left;
}
#forms {
  float: left;
}
.form {
  width: 250px;
  background: white;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border: 1px solid #AAA;
  float: left;
}
#user_info {
  width: 250px;
  height: 200px;
  background: white;
  border: 1px solid #AAA;
  float: left;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
/* Footer */
footer {
  background: #292929;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #292929), color-stop(1, #444444));
  background: -ms-linear-gradient(bottom, #292929, #444444);
  background: -moz-linear-gradient(center bottom, #292929 0%, #444444 100%);
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}
#footer_container {
  width: 960px;
  margin: auto;
}
#copyright {
  height: 375px;
  width: 400px;
  color: white;
  float: left;
  border-right: 1px solid black;
  padding-right: 50px;
}
#copyright p {
  color: #AAA;
  margin: 10px 0;
}
#about_footer {
  height: 375px;
  width: 450px;
  float: left;
  color: white;
  border-left: 1px solid #777;
  padding-left: 50px;
}
#about_footer h2 {
  margin-bottom: 10px;
}
#about_img {
  float: left;
  border: 5px solid white;
  margin-right: 15px;
}
#about_footer p {
  color: #AAA;
  margin-bottom: 10px;
}
#about_footer a,
#about_footer a:visited {
  color: white;
}
